.fon {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

video {
  width: 55%;
  border-radius: 50px;
}

.container-video {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  background-color: rgba(227, 232, 236, 0.493);
  font-family: 'Poppins', sans-serif;
  padding: 30px;
}


.container {
  display: flex;
  justify-content: center;
  background-color: rgba(227, 232, 236, 0.493);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  text-shadow: 1px 1px red;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  font-family: 'Poppins', sans-serif;
}

.container-recipies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
  font-weight: bold;
}

li {
  text-align: start;
  list-style: none;
  margin-top: 5px;
}

ul {
  padding: 15px;

}

.ricepies {
  width: 350px;
  background-color: rgba(186, 188, 189, 0.589);
  border-radius: 20px;
  margin-top: 40px;
}

h2 {
  height: 90px;
  border-radius: 20px;
  text-shadow: 1px 1px red;
}

img {
  border-radius: 20px;
}


@media all and (max-width: 500px) {
  h2 {
    height: max-content;
  }

  video {
    width: 100%;
    margin-top: 30%;
  }

  .container-video {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

}